.error {
    color: #942a25;
}
label.mandatory:after {
    content:" *";
    color:red;
}
table.form tr td:nth-child(odd) {
    text-align: right;
    width: 30%;
    padding-right: 10px;
}
table.form tr td:nth-child(even) {
    width: 70%;
}
.margin-vertical{
    padding: 10px 0px;
}
.margin-horizontal {
    margin: 0px 10px;
}
.margin {
    margin : 10px;
}
.gray-text {
    color: grey;
    font-size: 12px;
    margin: 0px;
}
legend{
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 35px;
}
select {
    font-size: 10px;
    height: 24px;
}
.bottom-border {
    border-bottom: 1px solid #e5e5e5;
}
a {
    font-size: 11px;
    font-family: "Lucida Grande", Verdana, sans-serif;
    cursor: pointer;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
.topicNameEdit input[type=text]{
    font-size: 10px;
    width: 180px;
    line-height: 10px;
    height: 12px;
    margin-bottom: 5px;
}
.topicDiv:hover{
    background: #e5e5e5;
}
a.step,.currentStep,a.nextLink,a.prevLink{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #dddddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 20px;
    padding: 1px 12px;
    text-decoration: none;
}
.currentStep{
    color: #999999;
    cursor: default;
    font-size: 12px;
}
.pagination select {
    width:auto;
    margin-left:10px;
}
div.selectedTopic {
    background: #e5e5e5;
}

.rating {
    direction: rtl;
    text-align: center;
    unicode-bidi: bidi-override;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size:20px;
}
.rating > span:hover, .rating > span:hover ~ span {
    color: transparent;
    font-size:20px;
}
.rating > span:hover::before, .rating > span:hover ~ span::before ,.rating > span.selected::before,span.selected ~ span::before{
    color: gold;
    content: "\2605";
    font-size:20px;
    position: absolute;
}

